* {
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: max-content;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}

.heading {
    font-size: 60px;
    color: blueviolet;
    font-weight: 700;
}

.button {
    background-color: blueviolet;
    border: none;
    border-radius: 16px;
    padding: 14px;
    color: beige;
    font-weight: 400;
    font-size: 16px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: beige;
    color: blueviolet;
    cursor: pointer;
    border: 2px solid blueviolet;
}